<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-md grey shadow">
  <div class="container-fluid">
    <a class="navbar-brand patrick-hand text-light" href="#">Website Resume</a>
    <button
      class="navbar-toggler no-border"
      type="button"
      data-bs-toggle="collapse" 
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
      <span class="material-symbols-outlined overflow-hidden text-offwhite">
        menu
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link mx-2 d-flex justify-content-center text-light patrick-hand" href="#About">
            <span class="material-symbols-outlined text-offwhite overflow-hidden mx-2">
              face_3
            </span>
            About
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 d-flex justify-content-center text-light patrick-hand" href="#Skills">
            <span class="material-symbols-outlined text-offwhite overflow-hidden mx-2">
              psychology
            </span>
            Skills
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 d-flex justify-content-center text-light patrick-hand" href="#Projects">
            <span class="material-symbols-outlined text-offwhite overflow-hidden mx-2">
              assignment_turned_in
            </span>
            Projects
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 d-flex justify-content-center text-light patrick-hand" href="#Activities">
            <span class="material-symbols-outlined text-offwhite overflow-hidden mx-2">
              workspace_premium
            </span>
            Activities
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>